body{
font-family:sans-serif;
margin:40px;
}

input{
padding:8px;
margin:10px 0;
}

li{
cursor:pointer;
margin:5px 0;
}

button{
padding:8px;
margin:5px;
}

.status-ok{
color:green;
font-weight:bold;
}

.status-maybe{
color:orange;
font-weight:bold;
}

.status-no{
color:red;
font-weight:bold;
}
